/* FONT VARIABLES */
/* COLOUR VARIABLES */
/*
FADER: 
/////////////////////////////
.link {
	@include fader;
}
*/
/*
INPUT PLACEHOLDER:
/////////////////////////////
input,
textarea {
	@include input-placeholder {
		color: #000;
	}
}
*/
/*
BG IMAGE HANDLER:
/////////////////////////////
.element {
	@include bg-img(top center, cover)
}
*/
body {
  background-color: #F8F8F8 !important; }

@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.ttf?dlzl4g") format("truetype"), url("../icons/icomoon.woff?dlzl4g") format("woff"), url("../icons/icomoon.svg?dlzl4g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="sicon-"], [class*=" sicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sicon-heart-o:before {
  content: "\e907"; }

.sicon-heart:before {
  content: "\e908"; }

.sicon-html5:before {
  content: "\e900"; }

.sicon-javascript:before {
  content: "\e901"; }

.sicon-sass:before {
  content: "\e902"; }

.sicon-react:before {
  content: "\e903"; }

.sicon-set_meal:before {
  content: "\e90a"; }

.sicon-restaurant:before {
  content: "\e90b"; }

.sicon-info_outline:before {
  content: "\e909"; }

.sicon-accessibility:before {
  content: "\e906"; }

.sicon-dinner_dining:before {
  content: "\e904"; }

.sicon-search:before {
  content: "\e905"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif !important; }

p, li, span, td, input, cite, a {
  font-family: "Montserrat", sans-serif; }

a {
  color: #282828; }

.section-title {
  color: #282828;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Merriweather", serif; }

.section-subtitle {
  color: #282828;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Merriweather", serif;
  margin-bottom: 0; }

.section-innertitle {
  color: #282828;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Merriweather", serif;
  margin-bottom: 1rem; }

.section-error-message {
  color: #fff; }

.section-intro p {
  font-weight: 600;
  color: #282828; }
  .section-intro p a {
    color: #cd0052;
    border-bottom: 1px dashed #E6005C; }

.menu.feature-skill-icons {
  padding: 1rem 0; }
  .menu.feature-skill-icons span {
    font-size: 2rem;
    color: #E6005C; }
  .menu.feature-skill-icons--dark {
    padding: 0 0 2rem 0; }
    .menu.feature-skill-icons--dark span {
      font-size: 1.5rem;
      color: #282828; }

.oflow {
  overflow-y: hidden; }

.show-for-sr {
  background-color: #000;
  color: #fff !important; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 2%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 2%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@-webkit-keyframes fadeinLeft {
  from {
    opacity: 0;
    transform: translateX(200%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeinLeft {
  from {
    opacity: 0;
    transform: translateX(200%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.fadeinLeft {
  animation-name: fadeinLeft; }

.wrapper-header {
  padding: 2rem 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
  .wrapper-header .logo {
    transition: opacity 0.3s;
    opacity: 1; }
    .wrapper-header .logo:hover, .wrapper-header .logo:focus {
      opacity: 0.8; }
  .wrapper-header .nav-primary li {
    padding: 0 1rem; }
  .wrapper-header .nav-primary a {
    color: #282828;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: border-bottom .3s;
    padding: 0.7rem 0; }
    .wrapper-header .nav-primary a:hover, .wrapper-header .nav-primary a:focus {
      border-bottom: 3px solid #ffb3d1; }
    .wrapper-header .nav-primary a.is-active {
      border-bottom: 3px solid #E6005C; }
  .wrapper-header .form-search {
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff; }
    .wrapper-header .form-search input {
      border: 1px solid transparent;
      background-color: transparent;
      box-shadow: none;
      margin-bottom: 0;
      color: #282828;
      font-size: .9rem;
      transition: background-color .3s;
      border-radius: 2px; }
      .wrapper-header .form-search input:focus {
        background-color: #fff;
        color: #282828; }
    .wrapper-header .form-search .btn-search {
      width: 50px;
      text-align: center;
      cursor: pointer;
      transition: background-color .3s;
      border-radius: 2px; }
      .wrapper-header .form-search .btn-search span {
        color: #282828;
        border-radius: 2px;
        transition: color .3s;
        font-weight: 600; }
      .wrapper-header .form-search .btn-search:hover, .wrapper-header .form-search .btn-search:focus {
        background-color: #282828; }
        .wrapper-header .form-search .btn-search:hover span, .wrapper-header .form-search .btn-search:focus span {
          color: #fff; }

.wrapper-hero {
  padding: 2rem 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
  .wrapper-hero .title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 1.1; }
  .wrapper-hero p {
    margin-bottom: 1rem;
    font-weight: 600; }

.wrapper-footer {
  padding: 2rem 0 1rem 0; }
  .wrapper-footer .logo {
    max-width: 200px;
    margin-bottom: 2rem;
    filter: grayscale(100%); }
  .wrapper-footer p {
    color: #282828;
    font-size: .9rem; }
  .wrapper-footer a {
    color: #282828;
    font-size: .8rem;
    transition: opacity 0.3s;
    opacity: 1; }
    .wrapper-footer a:hover, .wrapper-footer a:focus {
      opacity: 0.8; }
    .wrapper-footer a.is-active {
      border-bottom: 1px solid #fff; }

.wrapper-section {
  padding: 5rem 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
  .wrapper-section--white {
    background-color: #fff; }

.skip-to-content-link {
  background: #363636;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  left: 0;
  top: 0;
  padding: .5rem .8rem;
  position: absolute;
  transform: translateY(-200px); }
  .skip-to-content-link:focus {
    transform: translateY(0);
    color: #fff; }

.btn {
  cursor: pointer;
  padding: .8rem 1rem;
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  transition: border .3s, background-color .3s, color .3s; }
  .btn:hover, .btn:focus {
    background-color: transparent;
    color: #000; }
  .btn--primary {
    border: 1px solid #E6005C;
    background-color: #E6005C;
    color: #fff; }
    .btn--primary:hover, .btn--primary:focus {
      color: #E6005C; }
  .btn--filter {
    font-size: .76rem;
    padding: .4rem .8rem;
    border: 1px solid #E6005C;
    background-color: transparent;
    color: #E6005C;
    text-transform: lowercase;
    font-weight: 600; }
    .btn--filter:hover, .btn--filter:focus {
      background-color: #E6005C;
      color: #fff; }
    .btn--filter.is-active {
      background-color: #E6005C;
      color: #fff; }

.menu-filters li:not(:last-child) {
  margin-right: 1rem; }

.block-blob {
  background-image: url("../img/layout/blobs/blob-3.svg");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }
  .block-blob--secondary {
    background-image: url("../img/layout/blobs/blob-2.svg"); }
  .block-blob--tert {
    background-image: url("../img/layout/blobs/blob-1.svg"); }

.card-feature {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-radius: 3px;
  margin-bottom: 2rem; }
  .card-feature .content {
    padding: 1.5rem;
    border-radius: 3px;
    background-color: #fff; }
  .card-feature .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #282828;
    margin-bottom: 1.5rem;
    position: relative; }
    .card-feature .title span {
      position: absolute;
      right: 0; }

.card-recipe {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-radius: 3px;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s, transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  .card-recipe .img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 270px;
    border-radius: 3px 3px 0 0;
    position: relative; }
    .card-recipe .img:after {
      content: "\e909";
      font-family: 'icomoon' !important;
      padding: .4rem 0;
      font-size: 1.6rem;
      text-align: center;
      background-color: #F8F8F8;
      color: #E6005C;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
      transition: background-color 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  .card-recipe .content {
    padding: 1.5rem 1rem;
    border-radius: 0 0 3px 3px;
    background-color: #fff; }
  .card-recipe .title {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #282828;
    margin-bottom: .8rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card-recipe .meta {
    display: block;
    text-align: center;
    font-size: .8rem;
    color: #282828;
    text-transform: lowercase; }
  .card-recipe:hover, .card-recipe:focus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-5px); }
    .card-recipe:hover .img:after, .card-recipe:focus .img:after {
      background-color: #E6005C;
      color: #fff; }

.recipe-image {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 3px; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .card-recipe .img {
    height: 200px; }
  .wrapper-hero {
    padding: 2rem 0 3rem 0; }
    .wrapper-hero .hero-img {
      height: 250px; }
    .wrapper-hero .content {
      text-align: center; }
      .wrapper-hero .content .title {
        font-size: 2rem; }
  .recipe-image {
    width: 100%;
    margin-bottom: 2rem; }
  .menu.feature-skill-icons, .menu.menu-filters {
    justify-content: flex-start; }
    .menu.feature-skill-icons .btn--filter, .menu.menu-filters .btn--filter {
      margin-bottom: .5rem; } }

/*iphone x etc*/
/* Medium and up */
@media screen and (min-width: 40em) {
  .panel-details {
    max-height: 85vh;
    overflow-y: scroll;
    padding-right: 1rem; }
    .panel-details::-webkit-scrollbar {
      width: 5px; }
    .panel-details::-webkit-scrollbar-track {
      background: transparent; }
    .panel-details::-webkit-scrollbar-thumb {
      background: #888; }
    .panel-details::-webkit-scrollbar-thumb:hover {
      background: #555; } }

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .panel-movie-info .content {
    width: 80%; } }

/* Medium  iphone landscape only */
/* max-width 640px, mobile-only styles and landscape */
/* ipad pro */
/* Large and up */
@media screen and (min-width: 64em) {
  .pad-left {
    padding-left: 2rem; }
  .pad-right {
    padding-right: 2rem; } }

/* Large only */
/* --------------------------------- */
/* ==== High Contrast Overrides ==== */
/* --------------------------------- */
html.access-colour-contrast {
  background-color: #000 !important; }
  html.access-colour-contrast body {
    background-color: #000 !important; }
  html.access-colour-contrast h1, html.access-colour-contrast h2, html.access-colour-contrast h3, html.access-colour-contrast h4, html.access-colour-contrast h5, html.access-colour-contrast h6, html.access-colour-contrast p, html.access-colour-contrast span, html.access-colour-contrast li, html.access-colour-contrast td {
    color: yellow !important; }
  html.access-colour-contrast *:not(.panel-movie-info) {
    background-color: #000 !important;
    color: yellow !important; }
  html.access-colour-contrast .grid-container, html.access-colour-contrast .grid-x, html.access-colour-contrast .cell {
    background-color: transparent !important; }
  html.access-colour-contrast .wrapper-main, html.access-colour-contrast .card-movie, html.access-colour-contrast .section-results-info .block-pager .btn-page, html.access-colour-contrast .form-search {
    border: 1px solid yellow; }
  html.access-colour-contrast .panel-movie-info .content {
    background: #000;
    border-left: 1px solid yellow; }
  html.access-colour-contrast .card-movie .img:after {
    color: yellow; }
  html.access-colour-contrast .btn-access.is-active {
    border-bottom: 1px solid yellow; }

/* --------------------------------- */
/* ==== Sepia Contrast Overrides ==== */
/* --------------------------------- */
html.access-colour-sepia {
  background-color: #cc9 !important; }
  html.access-colour-sepia body {
    background-color: #cc9 !important; }
  html.access-colour-sepia h1, html.access-colour-sepia h2, html.access-colour-sepia h3, html.access-colour-sepia h4, html.access-colour-sepia h5, html.access-colour-sepia h6, html.access-colour-sepia p, html.access-colour-sepia span, html.access-colour-sepia li, html.access-colour-sepia td {
    color: #009 !important; }
  html.access-colour-sepia *:not(.panel-movie-info) {
    background-color: #cc9 !important;
    color: #009 !important; }
  html.access-colour-sepia .grid-container, html.access-colour-sepia .grid-x, html.access-colour-sepia .cell {
    background-color: transparent !important; }
  html.access-colour-sepia .wrapper-main, html.access-colour-sepia .card-movie, html.access-colour-sepia .section-results-info .block-pager .btn-page, html.access-colour-sepia .form-search {
    border: 1px solid #009; }
  html.access-colour-sepia .panel-movie-info .content {
    background: #cc9;
    border-left: 1px solid #009; }
  html.access-colour-sepia .card-movie .img:after {
    color: #cc9; }
  html.access-colour-sepia .btn-access.is-active {
    border-bottom: 1px solid #009; }

/* --------------------------------- */
/* ==== Greyscale Overrides ==== */
/* --------------------------------- */
html.access-colour-greyscale {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/* --------------------------------- */
/* reduced animations */
/* --------------------------------- */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    animation-duration: 0s !important;
    animation-delay: 0s !important; } }
