.wrapper-footer {
	padding: 2rem 0 1rem 0;

	.logo {
		max-width: 200px;
		margin-bottom: 2rem;
		filter: grayscale(100%);
	}

	p {
		color: $col-brand-black;
		font-size: .9rem;
	}

	a {
		color: $col-brand-black;
		font-size: .8rem;
		@include fader;

		&.is-active {
			border-bottom: 1px solid #fff;
		}
	}
}
