/* FONT VARIABLES */
$font-title: 'Merriweather', serif;
$font-main: 'Montserrat', sans-serif;

/* COLOUR VARIABLES */
$col-brand-gray: #F8F8F8 ;
$col-brand-black: #282828;
$col-brand-pink: #FF0066;
$col-brand-pink-dark: #E6005C;
$col-section-bg: #282828;
$col-text-main: #282828;
$col-form-success: #60b676;
$col-form-error: #E41E13;